---
import Section from "../system/Section.astro";
import Text from "../system/Text.astro";
import Button from "../system/Button.astro";
import { Image } from "astro:assets";
import academics1 from "../../images/academics1.png";
import academics2 from "../../images/academics2.png";
---

<Section>
  <div class="w-full text-center">
    <Text type="h2">Our Academics</Text>
    <div class="p-2"></div>
    <Text type="lg" class="font-bold">
      Nurturing Inquisitive Minds at <span class="text-primary">Edify</span>
    </Text>
  </div>
  <div class="p-[30px]"></div>
  <div class="flex flex-row max-md:flex-col gap-12">
    <Image
      src={academics1}
      alt=""
      class="flex-1 h-[350px] object-cover object-center"
    />
    <div class="flex-1">
      <Text type="lg" class="font-bold leading-[140%]">
        Curriculum Fueled by Inquiry, <span class="text-primary"
          >Enriched by Exploration</span
        >
      </Text>
      <div class="p-3"></div>
      <Text type="base">
        A child's journey begins with the dynamic Early Years Program (ESP),
        laying a strong foundation in the Primary School Program (PSP).
        Progressing through the nurturing Middle School Program (MSP) and
        culminating in the Secondary School Program (SSP) for higher education
        readiness. Customised for your child's age and goals, ensuring an
        engaging, impactful education!
      </Text>
      <div class="p-3"></div>
      <a href="/academics">
        <Button>Explore Academic Offerings</Button>
      </a>
    </div>
  </div>
  <div class="p-[30px]"></div>
  <div class="flex flex-row max-md:flex-col gap-20">
    <div class="flex-1">
      <Text type="lg" class="font-bold leading-[140%]">
        Discover our <span class="text-primary">Unique Program Offerings</span>
         to students
      </Text>
      <div class="p-3"></div>
      <Text type="base">
        Beyond the classrooms, we ignite passions with our Sports Education
        Program, vibrant Arts curriculum, and practical Life Skills training.
        Through interactive workshops, we elevate the learning adventure,
        ensuring our students excel in both academics and personal growth!
      </Text>
      <div class="p-3"></div>
      <a href="/academics#studentenrichment">
        <Button>Explore Student Programs</Button>
      </a>
    </div>
    <Image
      src={academics1}
      alt=""
      class="flex-1 h-[350px] object-cover object-center"
    />
  </div>
</Section>
