---
import whyChooseEdify from "../../images/whyChooseEdify.png";
import Button from "../system/Button.astro";
import { Image } from "astro:assets";
import Text from "../system/Text.astro";
import Sal from "../system/Sal.astro";
import Section from "../system/Section.astro";
import Scribble from "../Scribble.astro";
import gridBG from "../../fillers/gridBG.svg"
---

<Section class="flex flex-row gap-[72px] max-md:gap-[30px] max-md:flex-col max-md:items-center relative">
  <div class="max-md:order-2">
    <Sal preset="slide-up" d="100" t="400">
      <Text type="h2">
        Why choose
        <span class="relative">
          EKAM Edify?
          <Scribble />
        </span>
      </Text>
    </Sal>
    <div class="p-2"></div>
    <Sal preset="slide-up" d="200" t="400">
      <Text type="lg">
        Our Philosophy: <span class="text-black">Inquiry Based Learning</span>
      </Text>
    </Sal>
    <div class="p-3 max-md:p-2"></div>
    <Sal preset="slide-up" d="300" t="400">
      <Text type="base">
        We have built a dynamic learning space that thrives on curiosity and
        adventure! Guided by <br />
        <span class="text-primary">MDN Edify Education</span>
         , our approach cultivates imaginative thinkers poised to make a
        positive impact on the world. We are inspired by global educators and
        diverse methods, ensuring your child's education is as thrilling as it
        is enriching!
      </Text>
    </Sal>
    <div class="p-3"></div>
    <Sal preset="slide-up" d="400" t="400">
      <div class="flex flex-row gap-6 items-center">
        <Button type="primary" className="justify-start">
          Read more about us
        </Button>
      </div>
    </Sal>
  </div>
  <Sal preset="fade" d="400" t="400" class="flex-shrink-0">
    <Image
      class="w-[324px] max-md:w-[210px]"
      src={whyChooseEdify}
      alt="Why choose Edify??"
    />
  </Sal>
  <div class="w-[1016px] h-[650px] absolute -left-[50px] top-[280px] -z-[1]">
    <img src={gridBG.src} class="w-full h-full" />
    
  </div>
</Section>
