---
import whyChooseEdify from "../../images/whyChooseEdify.png";
import Button from "../system/Button.astro";
import { Image } from "astro:assets";
import Text from "../system/Text.astro";
import Sal from "../system/Sal.astro";
import Section from "../system/Section.astro";
import Scribble from "../Scribble.astro";
import gridBG from "../../fillers/gridBG.svg"
import Affiliations from "../Affiliations.astro";
---

<Section class="flex flex-row  pr-[40px] gap-[72px] max-md:gap-[30px] max-md:flex-col items-center relative">
  <div class="max-md:order-2">
    <Sal preset="slide-up" d="100" t="400">
      <Text type="h2">
        Why choose
        <span class="relative">
          EKAM?
          <Scribble />
        </span>
      </Text>
    </Sal>
    <div class="p-2"></div>
    <Sal preset="slide-up" d="200" t="400">
      <Text type="lg">
        Our Philosophy: <span class="text-black">Inquiry Based Learning</span>
      </Text>
    </Sal>
    <div class="p-3 max-md:p-2"></div>
    <Sal preset="slide-up" d="300" t="400">
      <Text type="base">
        The EKAM International School in Electronic City has its philosophy rooted in the all-round development of every child. We focus on providing a holistic and integrated education, equipping our students to navigate and interpret the world with confidence. Located on an 8-acre expanse, the school offers state-of-the-art digital classrooms, specialized labs, and spaces for arts and sports. Our digital classroom setup harmonizes with the Inquiry-Based learning ethos of NEP 2020.
        <br/>
        <br/>
        Open to students both locally from Bangalore and internationally, we offer admissions from Kindergarten to Grade 10. The school is affiliated with both the CBSE and CAIE (Cambridge) boards. The distinct EKAM teaching approach is consistently applied across all grade levels.
      </Text>
    </Sal>
    <div class="p-3"></div>
    <Sal preset="slide-up" d="400" t="400">
      <div class="flex flex-row gap-6 items-center">
        <a href="/about-us">
          <Button className="justify-start">
            Read more about us
          </Button>
        </a>
      </div>
    </Sal>
  </div>
  <Sal preset="fade" d="400" t="400" class="flex-shrink-0">
    <Image
      class="w-[384px] max-md:w-[210px]"
      src={whyChooseEdify}
      alt="Why choose Ekam??"
    />
  </Sal>
  <div class="w-[1016px] h-[650px] max-[1030px]:w-full absolute -left-[50px] top-[280px] -z-[1]">
    <img src={gridBG.src} class="w-full h-full" />
  </div>
</Section>
<!-- <div class="pt-8" /> -->
