---
import config from '../../../config';
import whyChooseEdify from '../../images/whyChooseEdify.png'
import coscholasticsThumb from '../../images/coscholasticsThumb.png'
import FilledArrowCircle from '../icons/FilledArrowCircle.astro';
import Button from '../system/Button.astro';
import Constrain from '../system/Constrain.astro';
import Heading from '../system/Heading.astro';
import { Image } from 'astro:assets';
import Text from '../system/Text.astro';
import Section from '../system/Section.astro';


---
<Section class="flex flex-row gap-[72px] max-md:flex-col">
  <div class="max-md:order-2">
    <Text type="h2">Why choose <span class="!text-black">Edify?</span></Text>
    <div class="p-2"></div>
    <Text type="lg">Our Philosophy: Empowering Through <span class="text-primary">Inquiry</span></Text>
    <div class="p-3"></div>
    <Text type="base">
      We foster a learning environment where curiosity and exploration are celebrated. Developed and refined by MDN Edify Education, this approach aims to nurture forward-thinking individuals who can make a positive difference in society. Drawing inspiration from diverse international educators and learning methods, our curriculum emphasizes well-rounded student development.
    </Text>
    <div class="p-3"></div>
    <div class="flex flex-row gap-6 items-center">
      <Button type="primary" className="justify-start">
        Read more about us
      </Button>

      <a href="#">
        <Text type="base" class='font-bold'>
          Watch Principal note Video
        </Text>
      </a>
    </div>
  </div>
  
  <div class="flex-shrink-0">
    <Image
      class="w-[324px] h-[409]"
      src={whyChooseEdify}
      alt="Why choose Edify??"
    />
  </div> 
</Section>
