---
import Text from "../system/Text.astro";


// import Swiper styles
import 'swiper/css';

import 'swiper/css/navigation';
import 'swiper/css/pagination';

import slide1 from "../../images/slides/1.jpeg"
import { Image } from "astro:assets";
import StudentEnrichmentSlide from "./StudentEnrichmentSlide.astro";
import blobSmallDark from '../../fillers/blobSmallDark.png'

---
<div class="w-full px-20 max-md:px-8 max-md:py-[50px] pt-[67px] pb-[95px] max-md:rounded-t-[50px] rounded-t-[120px] bg-[#1E1E1E] text-white">
  <div class="flex flex-row items-center max-md:items-start w-full justify-between">
    <div>
      <Text type="h3">Student-Enrichment <span class="text-primary">Programs</span></Text>
      <div class="pt-[14px]" />
      <Text type="base" class="text-white">Discover our unique program offerings to students</Text>
    </div>
    <div class="w-[130px] max-md:w-[60px]">
      <Image class="w-full h-full" src={blobSmallDark} alt="blob" />
    </div>
  </div>
  <div class="pt-[36px]" />
  <div class="flex flex-row w-full justify-between items-center">
    <div class="w-[53px] h-[53px] bg-white rounded-[50%] cursor-pointer" data-slide-prev>
      <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 54 54" fill="none">
        <g filter="url(#filter0_b_668_1006)">
          <circle cx="26.8" cy="26.8" r="26.8" transform="matrix(-1 0 0 1 53.6016 0.200012)" fill="white" fill-opacity="0.9"/>
          <circle cx="26.8" cy="26.8" r="26.4" transform="matrix(-1 0 0 1 53.6016 0.200012)" stroke="white" stroke-width="0.8"/>
        </g>
        <path d="M14.4023 27.8001L34.2023 39.2316L34.2023 16.3686L14.4023 27.8001Z" fill="#FF6F24"/>
        <defs>
          <filter id="filter0_b_668_1006" x="-5.6" y="-5.39999" width="64.8016" height="64.8" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
            <feGaussianBlur in="BackgroundImageFix" stdDeviation="2.8"/>
            <feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_668_1006"/>
            <feBlend mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur_668_1006" result="shape"/>
          </filter>
        </defs>
      </svg>
    </div>


    <div class="flex flex-row flex-1 max-md:flex-[unset] max-md:w-[unset] w-full justify-around">
      <div class="tab-nav-btn max-md:border-b-[none] max-md:[&.active>div]:!text-16px [&.active>div]:!text-[20px] max-md:[&.active>div]:!block max-md:[&>div]:!hidden active" data-slide-page="0">
        <Text type="subtitle" class="uppercase max-md:[&.active]:text-[16px] text-[22px] cursor-pointer text-white/40 active">Sports</Text>
      </div>
      <div class="tab-nav-btn max-md:border-b-[none] max-md:[&.active>div]:!text-16px [&.active>div]:!text-[20px] max-md:[&.active>div]:!block max-md:[&>div]:hidden" data-slide-page="1">
        <Text type="subtitle" class="uppercase max-md:[&.active]:text-[16px] text-[22px] cursor-pointer text-white/40">ARTS</Text>
      </div>
      <div class="tab-nav-btn max-md:border-b-[none] max-md:[&.active>div]:!text-16px [&.active>div]:!text-[20px] max-md:[&.active>div]:!block max-md:[&>div]:hidden" data-slide-page="2">
        <Text type="subtitle" class="uppercase max-md:[&.active]:text-[16px] text-[22px] cursor-pointer text-white/40">LIFE SKILLS</Text>
      </div>
      <div class="tab-nav-btn max-md:border-b-[none] max-md:[&.active>div]:!text-16px [&.active>div]:!text-[20px] max-md:[&.active>div]:!block max-md:[&>div]:hidden" data-slide-page="3">
        <Text type="subtitle" class="uppercase max-md:[&.active]:text-[16px] text-[22px] cursor-pointer text-white/40">PDW</Text>
      </div>
    </div>


    <div class="w-[53px] h-[53px] bg-white rounded-[50%] -scale-x-100 cursor-pointer" data-slide-next>
      <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 54 54" fill="none">
        <g filter="url(#filter0_b_668_1006)">
          <circle cx="26.8" cy="26.8" r="26.8" transform="matrix(-1 0 0 1 53.6016 0.200012)" fill="white" fill-opacity="0.9"/>
          <circle cx="26.8" cy="26.8" r="26.4" transform="matrix(-1 0 0 1 53.6016 0.200012)" stroke="white" stroke-width="0.8"/>
        </g>
        <path d="M14.4023 27.8001L34.2023 39.2316L34.2023 16.3686L14.4023 27.8001Z" fill="#FF6F24"/>
        <defs>
          <filter id="filter0_b_668_1006" x="-5.6" y="-5.39999" width="64.8016" height="64.8" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
            <feGaussianBlur in="BackgroundImageFix" stdDeviation="2.8"/>
            <feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_668_1006"/>
            <feBlend mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur_668_1006" result="shape"/>
          </filter>
        </defs>
      </svg>
    </div>
  </div>

  <div class="pb-[50px]" />


  <!-- Slider main container -->
  <div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <StudentEnrichmentSlide />
      <StudentEnrichmentSlide />
      <StudentEnrichmentSlide />
      <StudentEnrichmentSlide />
    </div>
  </div>


</div>


<style>
.swiper {
  width: 100%;
}

.tab-nav-btn.active > div {
  color: #FF6F24;
  border-bottom: 5px solid #F4B33E;
}
</style>


<script>
  import Swiper from 'swiper';
  // import { Navigation, Pagination } from 'swiper/modules';


  const swiper = new Swiper('.swiper', {
    // Optional parameters
    direction: 'horizontal',
    loop: false,
    effect: 'coverflow',
  });

  const slides = document.querySelectorAll('[data-slide-page]')
  slides.forEach((el) => {
    el.addEventListener('click', (e) => {
      const page = el.dataset.slidePage;
      setActiveTab(page)
    });
  });

  const setActiveTab = (page) => {
    console.log('requesting for page...', page)
    slides.forEach((el) => {
      el.classList.remove('active');
    });
    document.querySelector(`[data-slide-page="${page}"]`).classList.add('active');
    swiper.slideTo(page);
  }

  document.querySelector('[data-slide-prev]').addEventListener('click', (e) => {
    // get active slide
    const { activeIndex } = swiper

    const prevSlideIndex = activeIndex === 0 ? swiper.slides.length - 1 : activeIndex - 1
    setActiveTab(prevSlideIndex)
  });

  document.querySelector('[data-slide-next]').addEventListener('click', (e) => {
    const { activeIndex } = swiper

    const nextSlideIndex = activeIndex === swiper.slides.length - 1 ? 0 : activeIndex + 1
    setActiveTab(nextSlideIndex)
  });


  swiper.on('slideChange', function (e) {
    setActiveTab(e.activeIndex)
  });

</script>