---
import Text from "../system/Text.astro";


// import Swiper styles
import 'swiper/css';

import 'swiper/css/navigation';
import 'swiper/css/pagination';

import slide1 from "../../images/slides/1.jpeg"
import { Image } from "astro:assets";
import StudentEnrichmentSlide from "./StudentEnrichmentSlide.astro";

---
<div class="w-full px-20 pt-[67px] pb-[95px] rounded-t-[120px] bg-[#1E1E1E] text-white">
  <Text type="h3">Student-Enrichment <span class="text-primary">Programs</span></Text>
  <Text type="base" class="text-white">Discover our unique program offerings to students</Text>
  <div class="pt-[68px]" />
  <div class="flex flex-row w-full justify-between items-center">
    <div class="w-[53px] h-[53px] bg-white rounded-[50%]">
      <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 54 54" fill="none">
        <g filter="url(#filter0_b_668_1006)">
          <circle cx="26.8" cy="26.8" r="26.8" transform="matrix(-1 0 0 1 53.6016 0.200012)" fill="white" fill-opacity="0.9"/>
          <circle cx="26.8" cy="26.8" r="26.4" transform="matrix(-1 0 0 1 53.6016 0.200012)" stroke="white" stroke-width="0.8"/>
        </g>
        <path d="M14.4023 27.8001L34.2023 39.2316L34.2023 16.3686L14.4023 27.8001Z" fill="#FF6F24"/>
        <defs>
          <filter id="filter0_b_668_1006" x="-5.6" y="-5.39999" width="64.8016" height="64.8" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
            <feGaussianBlur in="BackgroundImageFix" stdDeviation="2.8"/>
            <feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_668_1006"/>
            <feBlend mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur_668_1006" result="shape"/>
          </filter>
        </defs>
      </svg>
    </div>


    <div data-slide-page="0">
      <Text type="subtitle" class="uppercase !text-[28px] cursor-pointer tab-nav-btn text-white/40 active">Sports</Text>
    </div>
    <div data-slide-page="1">
      <Text type="subtitle" class="uppercase !text-[28px] cursor-pointer tab-nav-btn text-white/40">ARTS</Text>
    </div>
    <div data-slide-page="2">
      <Text type="subtitle" class="uppercase !text-[28px] cursor-pointer tab-nav-btn text-white/40">LIFE SKILLS</Text>
    </div>
    <div data-slide-page="3">
      <Text type="subtitle" class="uppercase !text-[28px] cursor-pointer tab-nav-btn text-white/40">PDW</Text>
    </div>

    <div class="w-[53px] h-[53px] bg-white rounded-[50%] -scale-x-100">
      <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 54 54" fill="none">
        <g filter="url(#filter0_b_668_1006)">
          <circle cx="26.8" cy="26.8" r="26.8" transform="matrix(-1 0 0 1 53.6016 0.200012)" fill="white" fill-opacity="0.9"/>
          <circle cx="26.8" cy="26.8" r="26.4" transform="matrix(-1 0 0 1 53.6016 0.200012)" stroke="white" stroke-width="0.8"/>
        </g>
        <path d="M14.4023 27.8001L34.2023 39.2316L34.2023 16.3686L14.4023 27.8001Z" fill="#FF6F24"/>
        <defs>
          <filter id="filter0_b_668_1006" x="-5.6" y="-5.39999" width="64.8016" height="64.8" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
            <feGaussianBlur in="BackgroundImageFix" stdDeviation="2.8"/>
            <feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_668_1006"/>
            <feBlend mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur_668_1006" result="shape"/>
          </filter>
        </defs>
      </svg>
    </div>
  </div>

  <div class="pb-[50px]" />


  <!-- Slider main container -->
  <div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <StudentEnrichmentSlide />
      <StudentEnrichmentSlide />
      <StudentEnrichmentSlide />
    </div>
  </div>


</div>


<style>
.swiper {
  width: 100%;
}

.tab-nav-btn.active {
  font-size: 31px;
  color: #FF6F24;
  border-bottom: 5px solid #F4B33E;
}
</style>


<script>
  import Swiper from 'swiper';
  // import { Navigation, Pagination } from 'swiper/modules';


  const swiper = new Swiper('.swiper', {
    // Optional parameters
    direction: 'horizontal',
    loop: true,
    effect: 'coverflow',
  });

  document.querySelectorAll('[data-slide-page]').forEach((el) => {
    el.addEventListener('click', (e) => {
      const page = e.target.dataset.slidePage;
      swiper.slideTo(page);
      document.querySelectorAll('.tab-nav-btn').forEach((el) => {
        el.classList.remove('active');
      });
      e.target.classList.add('active');
    });
  });

</script>